<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Page to create an account">
    <meta name="keywords" content="Join, Create an account">
    <meta name="author" content="Rohan Kim">

    <title>Join</title>
    
</head>
<body>
    <h1>Join</h1>
    <form action="/userReg" method="POST">
        Name: <input type="text" name="name" /><br/>
        Email: <input type="text" name="email" /><br/>
        Password: <input type="password" name="password" /><br/>
        <input type="submit" value="Join" />
    </form>
</body>
</html>