<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Page to display board List">
    <meta name="keywords" content="board">
    <meta name="author" content="Rohan Kim">
    
    <title>Home</title>
    <Link rel="stylesheet" href="board.css" />
</head>
<body>
    <section class="board">
        <div class="page-title">
        <div class="container">
            <h3>My board</h3>
        </div>    
        </div>

        <div class="user-info">
            <div class="container">
                <!-- When user signed -->
                <span class="user-info_name" th:if="${signinInfo != null}">
                    <span>Welcome, 
                        <span th:text="${signinInfo.name}"></span> 
                    </span>
                </span>
                <span class="user-info_signout" th:if="${signinInfo !=null}">
                    <a href="/signout">Sign Out</a>
                </span>
                <!-- When user sign out -->
                <span class="user-info_signout" th:if="${signinInfo == null}">
                    <a href="/signin">Sign In</a>
                </span>
                <span class="user-info_join" th:if="${signinInfo == null}">
                    <a href="/join">Join</a>
                </span>
            </div>
        </div>

        <!-- Board List Area -->
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                        <tr>
                            <th scope="col" class="th-id">ID</th>
                            <th scope="col" class="th-title">TITLE</th>
                            <th scope="col" class="th-title">WRITER</th>
                            <th scope="col" class="th-date">DATE</th>
                            <th scope="col" class="th-viewcnt">VIEWS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post: ${posts}">
                            <td th:text ="${post.postId}"></td>
                            <th>
                                <a th:href="@{/post(postId=${post.postId})}" th:text ="${post.title}"></a>
                            </th>
                            <td th:text ="${post.name}"></td>
                            <td th:text ="${post.date}"></td>
                            <td th:text ="${post.view}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a href="/write" th:if="${signinInfo !=null}">NEW RECIPE</a>
            </div>
        </div>


    </section>
</body>
</html>