<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Detail page for the post">
    <meta name="keywords" content="post">
    <meta name="author" content="Rohan Kim">

    <title>Post</title>
</head>
<body>

    <!-- Read a post with exact ID -->
    <!-- Increase 1 from the number of views -->

    <H1>Details</H1>
    
</body>
</html>