<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Detail page for the post">
    <meta name="keywords" content="post">
    <meta name="author" content="Rohan Kim">

    <title>Post</title>
</head>
<body>
    <H1 th:text="${post.title}"></H1>
    <div>Writer: <span th:text="${post.name}"></span></div>
    <div>Date: <span th:text="${post.date}"></span></div>
    <div>Content: <span th:text="${post.content}"></span></div>
    
    <div>
        <a href="/">LIST</a>
    </div>
    <div>
        <a href="/">UPDATE</a>
    </div>
    <div>
        <a th:href="@{/delete(postId=${post.postId})}">DELETE</a>
    </div>
</body>
</html>