<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Page for signing in">
    <meta name="keywords" content="Signin">
    <meta name="author" content="Rohan Kim">

    <title>Sign In</title>
</head>
<body>
    <h1>Sign In</h1>

    <form action="/userChk" method="POST">
        Email: <input type="text" name="email" /><br/>
        Password: <input type="password" name="password" /><br/>
        <input type="submit" value="Sign In" />
    </form>
    <a href="/">Home</a>
</body>
</html>