<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Post a new recipe">
    <meta name="keywords" content="new recipe">
    <meta name="author" content="Rohan Kim">

    <title>New Post</title>
</head>
<body>
    <h1>New Post</h1>

    <form action="/postReg" method="POST">
        <input type="hidden" name="postId" th:value = "${post.postId}"/>
        Name: <span th:text="${signinInfo.name}"></span> 
        <br />
        Title: <input type="text" name="title" /><br/>
        Contents: <br/>
        <textarea name="content" id="" cols="50" rows="5"></textarea><br/>
        <input type="SUBMIT" value="REGISTER" />
    </form>
    <a href="/">Home</a>
</body>
</html>